@use "../base" as *;

main {
  width: 100vw;
  height: 100vh;
  //   border: red 1px dashed;
  color: $white;
  display: flex;
  .right-sec {
    width: 60%;
    padding-bottom: 20px;
    padding-right: 20px;
    .wrapper {
      height: 90.5%;
      width: 100%;
      border: $lightWhite 1px solid;
      border-bottom-left-radius: 21px;
      border-bottom-right-radius: 21px;
      border-top-right-radius: 21px;
      display: flex;

      .r,
      .l {
        height: 100%;
      }
      .l {
        width: 62.5%;
        overflow: auto;
        &::-webkit-scrollbar {
          background: $black;
          width: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background: $lightWhite;
          border-radius: 10px;
          width: 5px;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
          width: 5px;
        }
      }
      .r {
        width: 37.5%;
        border-left: $lightWhite 1px solid;
      }
    }
    nav {
      height: 9.5%;
      width: 100%;
      display: flex;
      align-items: end;

      p {
        font-size: 17px;
        letter-spacing: 1px;
        font-family: "lato";
        font-weight: 700;
        margin-right: 30px;
        border: $lightWhite 1px solid;
        padding: 10px 20px;
        border-bottom: none;
        margin-right: 3px;
        border-top-left-radius: 21px;
        border-top-right-radius: 21px;
      }
    }
  }
  .left-sec {
    width: 40%;
  }
  section {
    height: 100%;
    // border: red 1px dashed;
    .header-container {
      height: 7.5%;
      padding: 10px 0px 0px 25px;
      display: flex;
      align-items: center;
      img {
        height: 100%;
        margin-right: 20px;
      }
      p {
        font-size: 30px;
        font-family: "lato";
        font-weight: 800;
        margin-bottom: 10px;

        &::after {
          content: "#2 Eredivisie";
          position: absolute;
          font-size: 15px;
          font-weight: 700;
          transform: translate(-347%, 200%);
        }
      }
    }
  }
}
