$black: #070707;
$white: #ffffff;
$lightWhite: rgba(150, 150, 150, 0.5);

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin mobile($px) {
  @media (max-width: $px) {
    @content;
  }
}
